body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.table{
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.headingLogged {
  text-align: center;
  margin-bottom: 30px;
}

.navbar {
  height: 45px;
}

.navbar-nav{
  margin: auto;
}

.navbar-item{
  margin-right: 6rem;
}

.navbar-item a {
  font-size: 15px;
}

.form-group {
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5px;
}

.create-log {
  text-align: center;
}

.btn-primary {
  margin-top: 5px;
}

.create-user-head {
  text-align: center;
}